* {
font-family: 'PT Serif', serif;
font-size: 20px;
box-sizing: border-box;
}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #aaaaaa;
  color: black;
}

/*mobile-first*/
body {
   background:#1e6ab8;
   margin: 0;
}


.container{
width: 98%;
margin: 0 auto;
}

 header {
 margin-top 60px;
 width: 100%;    
 height: 50px;
 }
 
 section {
 width: 100%;   
 height: 400px;   
 float: left;     
 margin-top: 15px;
 padding: 5px;
 }
 
 aside {
 width: 100%;   
 height: 400px;   
 float: left;  
 margin-top: 15px;
 padding: 5px;
 }


.paper-shadow {
  position: relative;
  background: #fff;

  box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
}
.paper-shadow:after, .paper-shadow:before{
  content: '';
  position: absolute;
  left: auto;
  background:none;
  z-index: -1;
}
.paper-shadow:after{
  width: 90%;
  height: 10px;
  top: 30px;
  right:10px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-box-shadow: 0px -20px 36px 5px #295d92;
  -moz-box-shadow: 0px -20px 36px 5px #295d92;
  box-shadow: 0px -25px 35px 0px rgba(0,0,0,0.5);
}

.paper-shadow:before{
  width: 10px;
  height: 95%;
  top: 0px;
  right:15px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-box-shadow: 20px 0px 25px 5px #295d92;
  -moz-box-shadow: 20px 0px 25px 5px #295d92;
  box-shadow: 22px 0px 35px 0px rgba(0,0,0,0.5);
}


/*tablet*/
@media screen and (min-width: 400px) {
body {
	background-color:#1e6ab8;
	}
section {     
width: 40%;
}   
aside {     
width: 40%;
}

/*desktop*/
@media screen and (min-width: 900px) { 
body {
		background-color:#1e6ab8; 
	}
section {     
width: 40%;
}   
aside {     
width: 40%;
}
}
}
