* {
font-family: 'PT Serif', serif;
}

/*mobile-first*/
body {
   background:#1e6ab8;
}

.container{
width: 100%;
margin: 0 auto;
}

.paper-shadow {
	/*position: relative;*/
  margin: 10px auto;
  background: #fff;
  width: 100%;
  padding: 0px;
  box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
  height: 400px;
}
.paper-shadow:after, .paper-shadow:before{
  /* content: '';
 position: absolute;*/

  background:none;

}
.paper-shadow:after{
  width: 90%;
  height: 10px;
  top: 5px;
  right:5px;
  left:5px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-box-shadow: 0px -20px 36px 5px #295d92;
  -moz-box-shadow: 0px -20px 36px 5px #295d92;
  box-shadow: 0px -25px 35px 0px rgba(0,0,0,0.5);
}

.paper-shadow:before{
  width: 10px;
  height: 95%;
  top: 5px;
  right:5px;
  left: 5px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-box-shadow: 20px 0px 25px 5px #295d92;
  -moz-box-shadow: 20px 0px 25px 5px #295d92;
  box-shadow: 22px 0px 35px 0px rgba(0,0,0,0.5);
}

/*tablet*/
@media screen and (min-width: 400px) {
body {
	background-color:#1ebbbb;
	}
.paper-shadow {
  width: 33%;
  float: right;
}
}

/*desktop*/
@media screen and (min-width: 900px) { 
body {
		background-color:#1e6aff; 
	}
.paper-shadow {
  width: 33%;
  float: left;
}
}
}

